* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: $font-family;
    line-height: 1.6;
    background-color: $light-gray;
    color: $dark-gray;
    padding: 0 $spacing-base;
}
  
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-base;
}